# Pursuit of Happiness project - Data Cleaning

In [42]:
import pandas as pd

In [43]:
# FUNCTION DEFINITION: function to create DataFrameMatrix with define row_name and col_name 
def matrix_maker_function(dataframe,row_name,col_name,value_name):
    df = dataframe.filter([row_name,col_name,value_name], axis=1)
    matrix_df = pd.pivot_table(df,index=[row_name],values=[value_name],columns=[col_name], aggfunc='sum')             
    matrix_df = pd.DataFrame(matrix_df.to_records())                                
    matrix_df.columns = [hdr.replace("('", "").replace("', ", "").replace(value_name, "").replace(")", "") \
                     for hdr in matrix_df.columns]
    return matrix_df

In [44]:
def filled_matrix_function(dataframe,row_name,col_name,value_name):
    df = dataframe.filter([row_name,col_name,value_name], axis=1)
    matrix_df = pd.pivot_table(df,index=[row_name],values=[value_name],columns=[col_name], aggfunc='sum')             
    matrix_df = pd.DataFrame(matrix_df.to_records())                                
    matrix_df.columns = [hdr.replace("('", "").replace("', ", "").replace(value_name, "").replace(")", "") \
                     for hdr in matrix_df.columns]
    matrix_df = matrix_df.set_index(row_name).transpose().round(2)
    matrix_df.fillna(method='bfill', inplace=True)
    matrix_df.fillna(method='ffill', inplace=True)
    matrix_df = matrix_df.transpose().reset_index()
    matrix_df = matrix_df[matrix_df[row_name].isin(HappyCountries[row_name])].set_index(row_name)
    matrix_df.drop(matrix_df.columns[[0, 1, 13, 14]], axis = 1, inplace = True)
    return matrix_df

In [45]:
pd.set_option("display.max_rows",None)

# Data evaluation of Happiness Index

To evaluate the quality of the Happiness Index data, we mold it into a matrix of countries v/s years with matrix_maker_function that I previously created. 
The function uses pivot table to create matrix of value from two factors (or columns). Having this function enable us to quickly create matrixes that we use for various analysis.

In [46]:
#Read main Happiness Index file - WHR20_DataForTable2.1.xls
happyindex_file = pd.read_excel("../../Data/Resources/WHR20_DataForTable2.1.xls")     
happyindex_file.replace(['Taiwan Province of China'], ['Taiwan'],inplace=True)
country_code = pd.read_csv("../../Data/Resources/countrycode1.csv")

In [47]:
# create matrix for all happiness index
Happy_Index_df = matrix_maker_function(happyindex_file ,'Country name','year','Life Ladder')
print(Happy_Index_df.shape)
Happy_Index_df

(166, 16)

,Country name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,NaN,NaN,3.723590,4.401778,4.758381,3.831719,3.782938,3.572100,3.130896,3.982855,4.220169,2.661718,2.694303,2.375092
1,Albania,NaN,NaN,4.634252,NaN,5.485470,5.268937,5.867422,5.510124,4.550648,4.813763,4.606651,4.511101,4.639548,5.004403,4.995318
2,Algeria,NaN,NaN,NaN,NaN,NaN,5.463567,5.317194,5.604596,NaN,6.354898,NaN,5.340854,5.248912,5.043086,4.744627
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,5.589001,4.360250,3.937107,3.794838,NaN,NaN,NaN,NaN,NaN
4,Argentina,NaN,6.312925,6.073158,5.961034,6.424133,6.441067,6.775805,6.468387,6.582260,6.671114,6.697131,6.427221,6.039330,5.792797,6.085561
5,Armenia,NaN,4.289311,4.881516,4.651972,4.177582,4.367811,4.260491,4.319712,4.277191,4.453083,4.348320,4.325472,4.287736,5.062449,NaN
6,Australia,7.340688,NaN,7.285391,7.253757,NaN,7.450047,7.405616,7.195586,7.364169,7.288550,7.309061,7.250080,7.257038,7.176993,7.233995
7,Austria,NaN,7.122211,NaN,7.180954,NaN,7.302679,7.470513,7.400689,7.498803,6.950000,7.076447,7.048072,7.293728,7.396002,7.195361
8,Azerbaijan,NaN,4.727871,4.568160,4.817189,4.573725,4.218611,4.680470,4.910772,5.481178,5.251530,5.146775,5.303895,5.152279,5.167995,5.173389
9,Bahrain,NaN,NaN,NaN,NaN,5.700523,5.936869,4.823976,5.027187,6.689711,6.165134,6.007375,6.169673,6.227321,NaN,NaN
10,Bangladesh,NaN,4.318909,4.607322,5.052279,5.082851,4.858481,4.985649,4.724444,4.660161,4.635565,4.633474,4.556141,4.309771,4.499217,5.114217
11,Belarus,NaN,5.657650,5.616976,5.463332,5.564131,5.525923,5.225308,5.749043,5.876466,5.812401,5.718908,5.177899,5.552915,5.233770,5.821453
12,Belgium,7.262290,NaN,7.218840,7.116591,NaN,6.853514,7.111364,6.935122,7.103661,6.855329,6.904219,6.948936,6.928348,6.892172,6.772138
13,Belize,NaN,NaN,6.450644,NaN,NaN,NaN,NaN,NaN,NaN,5.955647,NaN,NaN,NaN,NaN,NaN
14,Benin,NaN,3.329802,NaN,3.667140,NaN,NaN,3.870280,3.193469,3.479413,3.347419,3.624664,4.007358,4.853181,5.819827,4.976361
15,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.569092,4.938578,5.082129,NaN,NaN,NaN,NaN
16,Bolivia,NaN,5.373986,5.628419,5.297873,6.085579,5.780620,5.778874,6.018895,5.767429,5.864799,5.834329,5.769723,5.650553,5.915734,5.674271
17,Bosnia and Herzegovina,NaN,NaN,4.899807,NaN,4.963477,4.668518,4.994671,4.773145,5.123664,5.248954,5.117178,5.180865,5.089902,5.887401,6.015522
18,Botswana,NaN,4.739367,NaN,5.451147,NaN,3.553020,3.519921,4.835939,4.128299,4.031197,3.761965,3.498937,3.504881,3.461366,3.471085
19,Brazil,6.636771,NaN,6.320673,6.691425,7.000832,6.837331,7.037817,6.660004,7.140283,6.980999,6.546897,6.374817,6.332929,6.190922,6.451149
20,Bulgaria,NaN,NaN,3.843798,NaN,NaN,3.912276,3.875382,4.222297,3.993021,4.438440,4.865401,4.837561,5.096902,5.098814,5.108438
21,Burkina Faso,NaN,3.801491,4.017130,3.846439,NaN,4.035561,4.785367,3.955008,3.325950,3.481348,4.418930,4.205635,4.646891,4.927236,4.740893
22,Burundi,NaN,NaN,NaN,3.563228,3.791681,NaN,3.705894,NaN,NaN,2.904535,NaN,NaN,NaN,3.775283,NaN
23,Cambodia,NaN,3.568745,4.155971,4.462164,4.110626,4.141072,4.161225,3.898707,3.674467,3.883306,4.162165,4.461259,4.585842,5.121838,4.998285
24,Cameroon,NaN,3.851072,4.349939,4.291800,4.741408,4.554257,4.433885,4.244634,4.271038,4.240441,5.037965,4.816232,5.074051,5.250738,4.936738
25,Canada,7.418048,NaN,7.481753,7.485604,7.487824,7.650346,7.426054,7.415144,7.593794,7.304258,7.412773,7.244846,7.414868,7.175497,7.109076
26,Central African Republic,NaN,NaN,4.160130,NaN,NaN,3.567893,3.677826,NaN,NaN,NaN,NaN,2.693061,3.475862,NaN,NaN
27,Chad,NaN,3.434801,4.141327,4.632468,3.639445,3.742871,4.393482,4.032975,3.507663,3.460183,4.322675,4.029350,4.558937,4.486325,4.250799
28,Chile,NaN,6.062852,5.697930,5.789439,6.493686,6.635656,6.526335,6.599129,6.740154,6.844238,6.532750,6.579056,6.320119,6.436221,5.942250
29,China,NaN,4.560495,4.862862,4.846295,4.454361,4.652737,5.037208,5.094917,5.241090,5.195619,5.303878,5.324956,5.099061,5.131434,5.144120
30,Colombia,NaN,6.024943,6.138412,6.168395,6.271605,6.408113,6.463953,6.374880,6.606551,6.448789,6.387572,6.233715,6.157342,5.983512,6.350298
31,Comoros,NaN,NaN,NaN,NaN,3.476027,3.812191,3.838486,3.955640,NaN,NaN,NaN,NaN,NaN,3.972820,4.608616
32,Congo (Brazzaville),NaN,NaN,NaN,3.819792,NaN,NaN,4.509824,3.919342,3.954951,4.056013,4.690830,4.119493,4.883991,5.490214,5.212623
33,Congo (Kinshasa),NaN,NaN,NaN,NaN,3.983849,NaN,4.516964,4.639227,4.497477,4.414300,3.902742,4.521935,4.311033,NaN,NaN
34,Costa Rica,NaN,7.082465,7.432132,6.850680,7.614929,7.271054,7.228889,7.272250,7.158000,7.247086,6.854004,7.135618,7.225182,7.141075,6.997619
35,Croatia,NaN,NaN,5.820908,NaN,5.433320,5.595575,5.385373,6.027635,5.885463,5.380692,5.205438,5.416875,5.343166,5.536271,5.625744
36,Cuba,NaN,5.417869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Cyprus,NaN,6.237958,NaN,NaN,6.833477,6.386546,6.689609,6.180507,5.438952,5.627124,5.439161,5.794619,6.062051,6.276443,6.136833
38,Czech Republic,6.439257,NaN,6.500194,NaN,NaN,6.249618,6.331491,6.334149,6.697656,6.483730,6.608017,6.735627,6.789568,7.034165,NaN
39,Denmark,8.018934,NaN,7.834233,7.970892,7.683359,7.770515,7.788232,7.519909,7.588607,7.507559,7.514425,7.557783,7.593702,7.648786,7.693003
40,Djibouti,NaN,NaN,NaN,5.009330,4.905925,5.005811,4.369194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Dominican Republic,NaN,5.087968,5.081306,4.842306,5.431614,4.735021,5.396535,4.753311,5.015515,5.387332,5.061862,5.238698,5.605203,5.433216,6.004237
42,Ecuador,NaN,5.024191,4.995875,5.296513,6.021803,5.838051,5.795088,5.960716,6.019206,5.945852,5.964075,6.115438,5.839519,6.128010,5.809131
43,Egypt,5.167754,NaN,5.540511,4.631741,5.066164,4.668916,4.174159,4.204157,3.558520,4.885073,4.762538,4.556741,3.929344,4.005451,4.327832
44,El Salvador,NaN,5.700930,5.295535,5.191494,6.839087,6.739911,4.741295,5.934371,6.325063,5.856524,6.018496,6.139825,6.339318,6.241199,6.454821
45,Estonia,NaN,5.371055,5.332044,5.451938,5.137739,NaN,5.486820,5.363928,5.367446,5.555983,5.628909,5.649675,5.938396,6.091302,6.034641
46,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.561169,4.444827,4.506647,4.573155,4.297849,4.180315,4.379262,4.099555
47,Finland,NaN,7.672449,NaN,7.670627,NaN,7.393264,7.354225,7.420209,7.444636,7.384571,7.447926,7.659843,7.788252,7.858107,7.780348
48,France,7.093393,6.582700,NaN,7.008065,6.283498,6.797901,6.959185,6.649365,6.667121,6.466868,6.357625,6.475209,6.635222,6.665904,6.689644
49,Gabon,NaN,NaN,NaN,NaN,NaN,NaN,4.255401,3.972059,3.800287,3.918073,4.661013,4.831764,4.782383,4.783009,4.914393
50,Gambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.117939,4.922099,5.163627
51,Georgia,NaN,3.675108,3.707195,4.156090,3.800639,4.101837,4.203031,4.254446,4.348921,4.287508,4.121941,4.448386,4.450775,4.659097,4.891836
52,Germany,6.619550,NaN,6.416820,6.521790,6.641493,6.724531,6.621312,6.702362,6.965125,6.984214,7.037138,6.873763,7.074325,7.118364,7.035472
53,Ghana,NaN,4.535020,5.220148,4.965135,4.197696,4.606252,5.608200,5.057262,4.965053,3.860351,3.985916,4.514411,5.481311,5.003693,4.966810
54,Greece,6.006310,NaN,6.646961,NaN,6.038575,5.839559,5.372040,5.096354,4.720251,4.756237,5.622519,5.302619,5.148242,5.409289,5.952157
55,Guatemala,NaN,5.901429,6.329581,6.414495,6.451916,6.289749,5.743354,5.855717,5.984601,6.536031,6.464987,6.358916,6.325119,6.626592,6.262175
56,Guinea,NaN,NaN,NaN,NaN,NaN,NaN,4.044569,3.651555,3.901793,3.412483,3.504694,3.602855,4.873723,5.252227,4.767684
57,Guyana,NaN,NaN,5.992826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Haiti,NaN,3.754156,NaN,3.846329,NaN,3.765999,4.844574,4.413475,4.621962,3.888778,3.569762,3.352300,3.823866,3.614928,NaN
59,Honduras,NaN,5.396520,5.097154,5.420331,6.033189,5.866131,4.961031,4.602218,4.713358,5.055726,4.845437,5.648155,6.019986,5.908424,5.930051
60,Hong Kong S.A.R. of China,NaN,5.511187,NaN,5.137262,5.397056,5.642835,5.474011,5.483765,NaN,5.458051,NaN,5.498421,5.362475,NaN,5.659317
61,Hungary,5.193933,NaN,4.953917,NaN,4.894600,4.725132,4.917603,4.683358,4.914467,5.180563,5.344383,5.448902,6.065039,5.935771,6.000260
62,Iceland,NaN,NaN,NaN,6.888284,NaN,NaN,NaN,7.590660,7.501394,NaN,7.498071,7.510035,7.476214,NaN,7.532505
63,India,NaN,5.348259,5.026793,5.145833,4.521518,4.989277,4.634871,4.720147,4.427789,4.424379,4.342079,4.179177,4.046111,3.818069,3.248770
64,Indonesia,NaN,4.946978,5.101214,4.815310,5.472361,5.457299,5.172608,5.367774,5.292238,5.597375,5.042800,5.136325,5.098402,5.340296,5.346513
65,Iran,5.308190,NaN,5.336371,5.128988,NaN,NaN,4.767507,4.608928,5.139579,4.682224,4.749956,4.652731,4.716783,4.278118,5.006146
66,Iraq,NaN,NaN,NaN,4.589845,4.775317,5.065462,4.725366,4.659509,4.725017,4.541502,4.493377,4.412537,4.462399,5.099590,NaN
67,Ireland,NaN,7.144247,NaN,7.568030,7.045911,7.257390,7.006904,6.964645,6.760085,7.018379,6.830125,7.040731,7.060155,6.962336,7.254841
68,Israel,NaN,7.173417,6.841115,7.261261,7.352979,7.358916,7.433148,7.110855,7.320563,7.400570,7.079411,7.159011,7.331036,6.927179,NaN
69,Italy,6.853784,NaN,6.574412,6.779774,6.333800,6.354238,6.057086,5.839314,6.009374,6.026585,5.847684,5.954524,6.198870,6.516527,6.445417
70,Ivory Coast,NaN,NaN,NaN,NaN,4.197182,NaN,NaN,NaN,3.739366,3.570369,4.445039,4.542546,5.037735,5.268375,5.392012
71,Jamaica,NaN,6.207882,NaN,NaN,NaN,NaN,5.374446,NaN,5.708887,5.310539,NaN,NaN,5.889759,NaN,NaN
72,Japan,6.515817,NaN,6.238198,5.910679,5.844999,6.056753,6.262794,5.968216,5.959362,5.922621,5.879684,5.954651,5.910676,5.793575,5.908039
73,Jordan,6.294660,NaN,5.598057,4.930058,5.999859,5.569942,5.539328,5.131996,5.171953,5.333022,5.404593,5.271285,4.808083,4.638934,4.452548
74,Kazakhstan,NaN,5.475948,5.718554,5.886420,5.382563,5.514287,5.735663,5.759470,5.835483,5.970098,5.949995,5.533552,5.882351,6.007636,6.272268
75,Kenya,NaN,4.223234,4.575658,4.015275,4.270435,4.255859,4.405310,4.547335,3.795383,4.904580,4.357618,4.396128,4.475654,4.655703,4.618850
76,Kosovo,NaN,NaN,5.103906,5.521660,5.891433,5.176601,4.859502,5.639588,6.125758,5.000375,5.077461,5.759412,6.149200,6.391826,6.425144
77,Kuwait,NaN,6.075547,NaN,NaN,6.585246,6.798151,6.377699,6.221095,6.480031,6.180139,6.146032,5.947195,6.093905,NaN,6.106120
78,Kyrgyzstan,NaN,4.641399,4.697762,4.736588,5.069054,4.996411,4.921049,5.207786,5.402427,5.252193,4.905376,4.856534,5.629537,5.297383,5.685221
79,Laos,NaN,5.076226,5.363855,5.044099,NaN,NaN,4.703750,4.876085,NaN,NaN,NaN,NaN,4.623141,4.859402,5.196856
80,Latvia,NaN,4.709502,4.666972,5.145375,4.668911,NaN,4.966812,5.125025,5.069770,5.729115,5.880598,5.940446,5.977818,5.901154,5.969754
81,Lebanon,5.491245,4.653104,NaN,4.594851,5.205999,5.031899,5.187572,4.572567,4.983289,5.233026,5.171971,5.270724,5.153990,5.167187,4.024220
82,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,4.897515,NaN,NaN,NaN,NaN,3.808205,3.795301,NaN,3.511781
83,Liberia,NaN,NaN,3.701401,4.221354,NaN,4.196063,NaN,NaN,NaN,4.571419,2.701591,3.354676,4.424491,4.134853,5.121461
84,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.754394,NaN,NaN,5.615405,5.433583,5.646852,5.493978,5.330222
85,Lithuania,NaN,5.954443,5.808285,5.553926,5.466921,5.065825,5.432437,5.771037,5.595689,6.125724,5.711378,5.865552,6.272941,6.308879,6.064098
86,Luxembourg,NaN,NaN,NaN,NaN,6.957920,7.097252,7.101400,6.964097,7.130809,6.891127,6.701571,6.967341,7.061381,7.242631,7.404016
87,Macedonia,NaN,NaN,4.493598,NaN,4.428022,4.180202,4.898180,4.639647,5.186191,5.203826,4.975590,5.345746,5.233867,5.239835,5.015485
88,Madagascar,NaN,3.979751,NaN,4.640079,NaN,NaN,4.381415,3.550610,3.815607,3.675627,3.592514,3.663086,4.078620,4.070587,4.339087
89,Malawi,NaN,3.829868,4.891037,NaN,5.148240,NaN,3.946063,4.279270,4.035084,4.563080,3.867638,3.476493,3.416863,3.334634,3.869124
90,Malaysia,NaN,6.011717,6.238904,5.806782,5.384702,5.580282,5.786367,5.914284,5.770200,5.962922,6.322121,NaN,NaN,5.338818,5.427954
91,Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.197575,NaN
92,Mali,NaN,4.014076,NaN,4.114664,3.976599,3.762305,4.666833,4.313017,3.676277,3.974714,4.582098,4.016028,4.741850,4.415730,4.987992
93,Malta,NaN,NaN,NaN,NaN,6.327640,5.773875,6.154718,5.962872,6.379925,6.452118,6.613394,6.590842,6.675666,6.909711,6.732977
94,Mauritania,NaN,NaN,4.149043,4.248075,4.500432,4.772307,4.784804,4.673204,4.199015,4.482805,3.922664,4.472149,4.678160,4.313615,4.152619
95,Mauritius,NaN,NaN,NaN,NaN,NaN,NaN,5.477073,NaN,NaN,5.647780,NaN,5.610003,6.174118,5.881741,6.241165
96,Mexico,6.580658,NaN,6.525378,6.829036,6.962819,6.802389,6.909515,7.320185,7.442546,6.679831,6.236287,6.824173,6.410299,6.549579,6.431945
97,Moldova,NaN,5.102071,4.774918,5.502756,5.554374,5.589736,5.792263,5.995713,5.756059,5.917058,6.017472,5.577784,5.325531,5.682277,5.803451
98,Mongolia,NaN,NaN,4.609059,4.493010,NaN,4.585524,5.031174,4.885150,4.912928,4.824835,4.982720,5.057000,5.333850,5.464623,5.562905
99,Montenegro,NaN,NaN,5.196315,NaN,4.801060,5.455030,5.223117,5.218724,5.074342,5.282721,5.124921,5.304066,5.614799,5.650190,5.386025
100,Morocco,NaN,NaN,NaN,NaN,NaN,4.383247,5.084973,4.969656,5.142160,NaN,5.163157,5.386307,5.312483,4.896792,5.056752
101,Mozambique,NaN,4.594880,4.832635,4.653583,NaN,NaN,4.971112,NaN,NaN,NaN,4.549767,NaN,4.279863,4.653714,4.932133
102,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.438940,4.175671,4.786247,4.223846,4.623120,4.154342,4.410633,4.434237
103,Namibia,NaN,NaN,4.885587,NaN,NaN,NaN,NaN,NaN,NaN,4.573991,NaN,NaN,4.441306,4.834088,4.435811
104,Nepal,NaN,4.566595,4.748284,4.440526,4.916868,4.349675,3.809445,4.233245,4.604577,4.975015,4.812437,5.099540,4.736692,4.910087,5.448725
105,Netherlands,7.463979,NaN,7.451880,7.631012,NaN,7.501876,7.563798,7.470716,7.406550,7.321188,7.324437,7.540877,7.458965,7.463097,7.425269
106,New Zealand,NaN,7.305014,7.604173,7.381171,NaN,7.223756,7.190638,7.249630,7.280152,7.305892,7.418121,7.225688,7.327183,7.370286,7.205174
107,Nicaragua,NaN,4.460158,4.944091,5.103827,5.352805,5.686699,5.385705,5.448006,5.772275,6.275267,5.924113,6.012740,6.476357,5.818953,6.112545
108,Niger,NaN,3.736952,4.277402,4.235657,4.267170,4.101016,4.555830,3.798088,3.716330,4.180943,3.671454,4.234646,4.615674,5.164007,5.003544
109,Nigeria,NaN,4.709746,4.890419,4.938560,4.980220,4.760276,NaN,5.492954,4.817869,NaN,4.932915,5.219568,5.321928,5.252288,4.356419
110,North Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.463305,5.566803,5.785979,5.842550,5.827128,NaN,5.608056,5.466615
111,Norway,NaN,7.415682,NaN,7.632288,NaN,NaN,NaN,7.678277,NaN,7.444471,7.603434,7.596332,7.578745,7.444262,7.442140
112,Oman,NaN,NaN,NaN,NaN,NaN,NaN,6.852982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Pakistan,5.224658,NaN,5.671461,4.413919,5.208147,5.786133,5.267186,5.131565,5.138083,5.435658,4.823195,5.548508,5.830871,5.471554,NaN
114,Palestinian Territories,NaN,4.716388,4.151054,4.385603,4.470191,4.702604,4.751220,4.646608,4.844028,4.721938,4.695239,4.906618,4.628133,4.553922,4.482537
115,Panama,NaN,6.127988,6.894140,6.930903,7.033740,7.321467,7.248081,6.859836,6.866480,6.631171,6.605550,6.117638,6.567659,6.281434,6.085955
116,Paraguay,NaN,4.730082,5.272461,5.570062,5.576147,5.841174,5.677081,5.820058,5.936241,5.118642,5.559724,5.801380,5.713295,NaN,5.652626
117,Peru,NaN,4.810845,5.213962,5.129231,5.518847,5.612785,5.892457,5.824557,5.782557,5.865816,5.577263,5.700629,5.710937,5.679661,5.999382
118,Philippines,NaN,4.669946,5.073562,4.589065,4.879911,4.941514,4.993957,5.001965,4.976925,5.312550,5.547489,5.430833,5.594270,5.869173,6.267745
119,Poland,5.587209,NaN,5.886137,NaN,5.772027,5.887030,5.646205,5.875932,5.746132,5.750282,6.007022,6.162076,6.201268,6.111485,6.242094
120,Portugal,NaN,5.405246,NaN,5.716967,NaN,5.094526,5.219998,4.993962,5.157688,5.126912,5.080866,5.446637,5.711499,5.919823,6.095473
121,Qatar,NaN,NaN,NaN,NaN,6.417824,6.849653,6.591604,6.611299,NaN,NaN,6.374529,NaN,NaN,NaN,NaN
122,Romania,5.048648,NaN,5.393724,NaN,5.367565,4.909166,5.022758,5.166875,5.081584,5.726893,5.777491,5.968871,6.089905,6.150879,6.129942
123,Russia,NaN,4.963743,5.222867,5.618754,5.158228,5.384773,5.388766,5.620736,5.537178,6.036977,5.995539,5.854946,5.578743,5.513500,NaN
124,Rwanda,NaN,4.214704,NaN,4.362989,4.029762,NaN,4.097436,3.333048,3.466388,3.595678,3.483109,3.332990,3.108374,3.561047,3.268152
125,Saudi Arabia,7.079644,NaN,7.266694,6.811370,6.147590,6.307098,6.699790,6.396359,6.495133,6.278378,6.345492,6.473921,6.294282,6.356393,6.561247
126,Senegal,NaN,4.417353,4.679987,4.683500,4.335114,4.372156,3.834202,3.668737,3.647367,4.394777,4.617001,4.594534,4.683025,4.769377,5.488737
127,Serbia,NaN,NaN,4.750384,NaN,4.380312,4.461304,4.815187,5.154522,5.101840,5.112729,5.317685,5.752755,5.122031,5.936493,6.241407
128,Sierra Leone,NaN,3.628185,3.585127,2.997251,NaN,4.133956,4.501644,NaN,4.514291,4.499970,4.908618,4.732953,4.089562,4.305683,3.447381
129,Singapore,NaN,6.462703,6.833755,6.641957,6.144677,6.531402,6.561042,NaN,6.533207,7.062365,6.619525,6.033481,6.378438,6.374564,6.378360
130,Slovakia,NaN,5.264677,NaN,NaN,NaN,6.052223,5.945048,5.911059,5.936527,6.138873,6.162004,5.993163,6.365509,6.235111,6.243429
131,Slovenia,NaN,5.811265,NaN,NaN,5.830161,6.082555,6.035964,6.062891,5.974889,5.678395,5.740642,5.936821,6.166838,6.249419,6.665274
132,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.528273,5.353645,4.667941,NaN,NaN,NaN
133,Somaliland region,NaN,NaN,NaN,NaN,4.991400,4.657363,4.930572,5.057314,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,South Africa,NaN,5.083987,5.204454,5.346307,5.218431,4.652429,4.930511,5.133888,3.660727,4.828456,4.887326,4.769740,4.513655,4.883922,5.034863
135,South Korea,NaN,5.332178,5.767276,5.389625,5.647690,6.116024,6.946599,6.003287,5.958810,5.801325,5.780211,5.970564,5.873887,5.840231,5.902817
136,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.831992,4.070771,2.888112,2.816622,NaN,NaN
137,Spain,7.152786,NaN,6.994615,7.294473,6.198601,6.188262,6.518249,6.290690,6.150027,6.456478,6.380663,6.318612,6.230173,6.513371,6.457449
138,Sri Lanka,NaN,4.344611,4.414805,4.430846,4.212027,3.976905,4.180569,4.224593,4.364694,4.267933,4.611607,NaN,4.330945,4.435024,4.213299
139,Sudan,NaN,NaN,NaN,NaN,4.454917,4.435160,4.314456,4.550499,NaN,4.138673,NaN,NaN,NaN,NaN,NaN
140,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.269287,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,4.867091,NaN,NaN,NaN,NaN,NaN,NaN,4.211565,4.396115
142,Sweden,7.376316,NaN,7.241363,7.515997,7.265977,7.496019,7.382232,7.560148,7.434011,7.239148,7.288922,7.368744,7.286805,7.374792,7.398093
143,Switzerland,NaN,7.473253,NaN,NaN,7.524521,NaN,NaN,7.776209,NaN,7.492804,7.572137,7.458520,7.473593,7.508587,7.694221
144,Syria,NaN,NaN,NaN,5.323332,4.978971,4.464708,4.037889,3.164491,2.687553,NaN,3.461913,NaN,NaN,NaN,NaN
145,Taiwan,NaN,6.189050,NaN,5.547682,NaN,6.228531,6.308915,6.125917,6.340344,6.363497,6.450088,6.512851,6.359451,6.467005,6.537090
146,Tajikistan,NaN,4.613099,4.431609,5.063987,4.575175,4.380636,4.262671,4.496572,4.966521,4.896158,5.124211,5.103721,5.829234,5.497469,5.464015
147,Tanzania,NaN,3.922484,4.317950,4.384742,3.407508,3.229129,4.073562,4.006897,3.852395,3.483279,3.660597,2.902734,3.347121,3.445023,3.640155
148,Thailand,NaN,5.885433,5.783891,5.636471,5.475645,6.216703,6.663609,6.300235,6.231025,6.985464,6.201763,6.073640,5.938895,6.011562,6.022151
149,Togo,NaN,3.202429,NaN,2.807855,NaN,NaN,2.936221,NaN,NaN,2.838959,3.768302,3.878578,4.360805,4.022895,4.179494
150,Trinidad and Tobago,NaN,5.832189,NaN,6.696444,NaN,NaN,6.518746,NaN,6.167707,NaN,NaN,NaN,6.191860,NaN,NaN
151,Tunisia,NaN,NaN,NaN,NaN,5.025470,5.130521,4.876482,4.463531,5.245605,4.763595,5.131612,4.521453,4.124343,4.741132,4.315480
152,Turkey,4.718734,NaN,5.623472,5.118232,5.212842,5.490347,5.271944,5.309076,4.888177,5.579794,5.514465,5.326222,5.607262,5.185689,4.872074
153,Turkmenistan,NaN,NaN,NaN,NaN,6.567713,NaN,5.791755,5.463827,5.391763,5.787379,5.791460,5.887052,5.229149,4.620602,5.474300
154,Uganda,NaN,3.733584,4.455839,4.568619,4.611986,4.192882,4.826001,4.309238,3.709579,3.769919,4.237687,4.233261,4.000517,4.321715,4.948051
155,Ukraine,NaN,4.803954,5.252182,5.172380,5.165639,5.057561,5.083133,5.030342,4.710803,4.297330,3.964543,4.028690,4.311067,4.661909,4.701762

### Evaluation
We evaluate Happiness Index matrix for its completess. 
The 2005 and 2006 has fairly incomplete data set - thus we eliminate those two years. 
Out of the 166 countries, 38 has more than 5 NaN - we then use the dropna(thresh=10) to eliminate those countries. We ended up with a data frame with the shape of 128 rows and 14 to begin.

In [48]:
# check the completeness of data
Happy_Index_df.isna().sum()

Country name      0
2005            139
2006             77
2007             64
2008             56
2009             52
2010             42
2011             20
2012             24
2013             29
2014             21
2015             23
2016             24
2017             19
2018             24
2019             28
dtype: int64

HappinessIndex data is the most incomplete for 2005 - and

In [49]:
THappy_Index_df = Happy_Index_df.set_index('Country name').transpose()
THappy_Index_df.isna().sum().head()

Country name
Afghanistan     3
Albania         3
Algeria         7
Angola         11
Argentina       1
dtype: int64

In [50]:
#create the matrix of countries that we are going to study
df1 = Happy_Index_df.drop(Happy_Index_df.columns[1:3], axis=1).round(2)
df1 = df1.dropna(thresh=10).reset_index(drop=True)
print(df1.shape)
df1.to_csv("../../Data/Outputs/HappyIndex_multiyear_mx.csv", index=False)
df1.head(1)

(128, 14)

,Country name,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,3.72,4.4,4.76,3.83,3.78,3.57,3.13,3.98,4.22,2.66,2.69,2.38

In [51]:
#check list of rows to be deleted
outcast_df = Happy_Index_df[~Happy_Index_df['Country name'].isin(df1['Country name'])].reset_index(drop=True)
outcast_df.head(1)

,Country name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Algeria,NaN,NaN,NaN,NaN,NaN,5.463567,5.317194,5.604596,NaN,6.354898,NaN,5.340854,5.248912,5.043086,4.744627

### Mapping
For vizualization requirements we add 3 letter country codes here and continents later using the mapping function

In [52]:
# create a base data frame of countries that in our country list and the country codes .reset_index(drop=True)
HappyCountries = df1.filter(['Country name'], axis=1)

mapping = dict(country_code[['Country name', 'Code']].values)
HappyCountries['Code'] = country_code['Country name'].map(mapping)
HappyCountries.to_csv("../../Data/Outputs/HappyCountries.csv", index=False)
print(HappyCountries.shape)
HappyCountries.head(1)

(128, 2)

  Country name Code
0  Afghanistan  AFG

In [53]:
# drop rows and columns that has too much NaN from original file
new_df = happyindex_file[~happyindex_file['Country name'].isin(outcast_df['Country name'])].round(2)
new_df = new_df[new_df['year'] != (2005,2006)]
new_df = new_df.drop(new_df.columns[9:26], axis=1).reset_index(drop=True)

We create clean matrix (with no Nan) by filling data from succeeding years (if available) with "bfill" and the completed with "ffill" for those that still incomplete. Because the operations can only be performed on columns, the dataframe need to be transpose before the operation and retranspose it afterwards.

In [54]:
HI_df = matrix_maker_function(happyindex_file ,'Country name','year','Life Ladder').set_index("Country name").transpose().round(2)
HI_df.fillna(method='bfill', inplace=True)
HI_df.fillna(method='ffill', inplace=True)
HI_df = HI_df.transpose().reset_index()
HI_df = HI_df[HI_df['Country name'].isin(HappyCountries['Country name'])].set_index("Country name")
HI_df.drop(HI_df.columns[[0, 1, 13, 14]], axis = 1, inplace = True)
HI_df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country name,,,,,,,,,,,
Afghanistan,3.72,3.72,4.40,4.76,3.83,3.78,3.57,3.13,3.98,4.22,2.66
Albania,4.63,5.49,5.49,5.27,5.87,5.51,4.55,4.81,4.61,4.51,4.64
Argentina,6.07,5.96,6.42,6.44,6.78,6.47,6.58,6.67,6.70,6.43,6.04
Armenia,4.88,4.65,4.18,4.37,4.26,4.32,4.28,4.45,4.35,4.33,4.29
Australia,7.29,7.25,7.45,7.45,7.41,7.20,7.36,7.29,7.31,7.25,7.26
Austria,7.18,7.18,7.30,7.30,7.47,7.40,7.50,6.95,7.08,7.05,7.29
Azerbaijan,4.57,4.82,4.57,4.22,4.68,4.91,5.48,5.25,5.15,5.30,5.15
Bahrain,5.70,5.70,5.70,5.94,4.82,5.03,6.69,6.17,6.01,6.17,6.23
Bangladesh,4.61,5.05,5.08,4.86,4.99,4.72,4.66,4.64,4.63,4.56,4.31
Belarus,5.62,5.46,5.56,5.53,5.23,5.75,5.88,5.81,5.72,5.18,5.55
Belgium,7.22,7.12,6.85,6.85,7.11,6.94,7.10,6.86,6.90,6.95,6.93
Benin,3.67,3.67,3.87,3.87,3.87,3.19,3.48,3.35,3.62,4.01,4.85
Bolivia,5.63,5.30,6.09,5.78,5.78,6.02,5.77,5.86,5.83,5.77,5.65
Bosnia and Herzegovina,4.90,4.96,4.96,4.67,4.99,4.77,5.12,5.25,5.12,5.18,5.09
Botswana,5.45,5.45,3.55,3.55,3.52,4.84,4.13,4.03,3.76,3.50,3.50
Brazil,6.32,6.69,7.00,6.84,7.04,6.66,7.14,6.98,6.55,6.37,6.33
Bulgaria,3.84,3.91,3.91,3.91,3.88,4.22,3.99,4.44,4.87,4.84,5.10
Burkina Faso,4.02,3.85,4.04,4.04,4.79,3.96,3.33,3.48,4.42,4.21,4.65
Cambodia,4.16,4.46,4.11,4.14,4.16,3.90,3.67,3.88,4.16,4.46,4.59
Cameroon,4.35,4.29,4.74,4.55,4.43,4.24,4.27,4.24,5.04,4.82,5.07
Canada,7.48,7.49,7.49,7.65,7.43,7.42,7.59,7.30,7.41,7.24,7.41
Chad,4.14,4.63,3.64,3.74,4.39,4.03,3.51,3.46,4.32,4.03,4.56
Chile,5.70,5.79,6.49,6.64,6.53,6.60,6.74,6.84,6.53,6.58,6.32
China,4.86,4.85,4.45,4.65,5.04,5.09,5.24,5.20,5.30,5.32,5.10
Colombia,6.14,6.17,6.27,6.41,6.46,6.37,6.61,6.45,6.39,6.23,6.16
Congo (Brazzaville),3.82,3.82,4.51,4.51,4.51,3.92,3.95,4.06,4.69,4.12,4.88
Costa Rica,7.43,6.85,7.61,7.27,7.23,7.27,7.16,7.25,6.85,7.14,7.23
Croatia,5.82,5.43,5.43,5.60,5.39,6.03,5.89,5.38,5.21,5.42,5.34
Cyprus,6.83,6.83,6.83,6.39,6.69,6.18,5.44,5.63,5.44,5.79,6.06
Czech Republic,6.50,6.25,6.25,6.25,6.33,6.33,6.70,6.48,6.61,6.74,6.79
Denmark,7.83,7.97,7.68,7.77,7.79,7.52,7.59,7.51,7.51,7.56,7.59
Dominican Republic,5.08,4.84,5.43,4.74,5.40,4.75,5.02,5.39,5.06,5.24,5.61
Ecuador,5.00,5.30,6.02,5.84,5.80,5.96,6.02,5.95,5.96,6.12,5.84
Egypt,5.54,4.63,5.07,4.67,4.17,4.20,3.56,4.89,4.76,4.56,3.93
El Salvador,5.30,5.19,6.84,6.74,4.74,5.93,6.33,5.86,6.02,6.14,6.34
Estonia,5.33,5.45,5.14,5.49,5.49,5.36,5.37,5.56,5.63,5.65,5.94
Finland,7.67,7.67,7.39,7.39,7.35,7.42,7.44,7.38,7.45,7.66,7.79
France,7.01,7.01,6.28,6.80,6.96,6.65,6.67,6.47,6.36,6.48,6.64
Gabon,4.26,4.26,4.26,4.26,4.26,3.97,3.80,3.92,4.66,4.83,4.78
Georgia,3.71,4.16,3.80,4.10,4.20,4.25,4.35,4.29,4.12,4.45,4.45
Germany,6.42,6.52,6.64,6.72,6.62,6.70,6.97,6.98,7.04,6.87,7.07
Ghana,5.22,4.97,4.20,4.61,5.61,5.06,4.97,3.86,3.99,4.51,5.48
Greece,6.65,6.04,6.04,5.84,5.37,5.10,4.72,4.76,5.62,5.30,5.15
Guatemala,6.33,6.41,6.45,6.29,5.74,5.86,5.98,6.54,6.46,6.36,6.33
Guinea,4.04,4.04,4.04,4.04,4.04,3.65,3.90,3.41,3.50,3.60,4.87
Haiti,3.85,3.85,3.77,3.77,4.84,4.41,4.62,3.89,3.57,3.35,3.82
Honduras,5.10,5.42,6.03,5.87,4.96,4.60,4.71,5.06,4.85,5.65,6.02
Hong Kong S.A.R. of China,5.14,5.14,5.40,5.64,5.47,5.48,5.46,5.46,5.50,5.50,5.36
Hungary,4.95,4.89,4.89,4.73,4.92,4.68,4.91,5.18,5.34,5.45,6.07
India,5.03,5.15,4.52,4.99,4.63,4.72,4.43,4.42,4.34,4.18,4.05
Indonesia,5.10,4.82,5.47,5.46,5.17,5.37,5.29,5.60,5.04,5.14,5.10
Iran,5.34,5.13,4.77,4.77,4.77,4.61,5.14,4.68,4.75,4.65,4.72
Iraq,4.59,4.59,4.78,5.07,4.73,4.66,4.73,4.54,4.49,4.41,4.46
Ireland,7.57,7.57,7.05,7.26,7.01,6.96,6.76,7.02,6.83,7.04,7.06
Israel,6.84,7.26,7.35,7.36,7.43,7.11,7.32,7.40,7.08,7.16,7.33
Italy,6.57,6.78,6.33,6.35,6.06,5.84,6.01,6.03,5.85,5.95,6.20
Japan,6.24,5.91,5.84,6.06,6.26,5.97,5.96,5.92,5.88,5.95,5.91
Jordan,5.60,4.93,6.00,5.57,5.54,5.13,5.17,5.33,5.40,5.27,4.81
Kazakhstan,5.72,5.89,5.38,5.51,5.74,5.76,5.84,5.97,5.95,5.53,5.88
Kenya,4.58,4.02,4.27,4.26,4.41,4.55,3.80,4.90,4.36,4.40,4.48
Kosovo,5.10,5.52,5.89,5.18,4.86,5.64,6.13,5.00,5.08,5.76,6.15
Kuwait,6.59,6.59,6.59,6.80,6.38,6.22,6.48,6.18,6.15,5.95,6.09
Kyrgyzstan,4.70,4.74,5.07,5.00,4.92,5.21,5.40,5.25,4.91,4.86,5.63
Latvia,4.67,5.15,4.67,4.97,4.97,5.13,5.07,5.73,5.88,5.94,5.98
Lebanon,4.59,4.59,5.21,5.03,5.19,4.57,4.98,5.23,5.17,5.27,5.15
Liberia,3.70,4.22,4.20,4.20,4.57,4.57,4.57,4.57,2.70,3.35,4.42
Lithuania,5.81,5.55,5.47,5.07,5.43,5.77,5.60,6.13,5.71,5.87,6.27
Luxembourg,6.96,6.96,6.96,7.10,7.10,6.96,7.13,6.89,6.70,6.97,7.06
Macedonia,4.49,4.43,4.43,4.18,4.90,4.64,5.19,5.20,4.98,5.35,5.23
Madagascar,4.64,4.64,4.38,4.38,4.38,3.55,3.82,3.68,3.59,3.66,4.08
Malawi,4.89,5.15,5.15,3.95,3.95,4.28,4.04,4.56,3.87,3.48,3.42
Malaysia,6.24,5.81,5.38,5.58,5.79,5.91,5.77,5.96,6.32,5.34,5.34
Mali,4.11,4.11,3.98,3.76,4.67,4.31,3.68,3.97,4.58,4.02,4.74
Malta,6.33,6.33,6.33,5.77,6.15,5.96,6.38,6.45,6.61,6.59,6.68
Mauritania,4.15,4.25,4.50,4.77,4.78,4.67,4.20,4.48,3.92,4.47,4.68
Mexico,6.53,6.83,6.96,6.80,6.91,7.32,7.44,6.68,6.24,6.82,6.41
Moldova,4.77,5.50,5.55,5.59,5.79,6.00,5.76,5.92,6.02,5.58,5.33
Mongolia,4.61,4.49,4.59,4.59,5.03,4.89,4.91,4.82,4.98,5.06,5.33
Montenegro,5.20,4.80,4.80,5.46,5.22,5.22,5.07,5.28,5.12,5.30,5.61
Morocco,4.38,4.38,4.38,4.38,5.08,4.97,5.14,5.16,5.16,5.39,5.31
Nepal,4.75,4.44,4.92,4.35,3.81,4.23,4.60,4.98,4.81,5.10,4.74
Netherlands,7.45,7.63,7.50,7.50,7.56,7.47,7.41,7.32,7.32,7.54,7.46
New Zealand,7.60,7.38,7.22,7.22,7.19,7.25,7.28,7.31,7.42,7.23,7.33
Nicaragua,4.94,5.10,5.35,5.69,5.39,5.45,5.77,6.28,5.92,6.01,6.48
Niger,4.28,4.24,4.27,4.10,4.56,3.80,3.72,4.18,3.67,4.23,4.62
Nigeria,4.89,4.94,4.98,4.76,5.49,5.49,4.82,4.93,4.93,5.22,5.32
Pakistan,5.67,4.41,5.21,5.79,5.27,5.13,5.14,5.44,4.82,5.55,5.83
Palestinian Territories,4.15,4.39,4.47,4.70,4.75,4.65,4.84,4.72,4.70,4.91,4.63
Panama,6.89,6.93,7.03,7.32,7.25,6.86,6.87,6.63,6.61,6.12,6.57
Paraguay,5.27,5.57,5.58,5.84,5.68,5.82,5.94,5.12,5.56,5.80,5.71
Peru,5.21,5.13,5.52,5.61,5.89,5.82,5.78,5.87,5.58,5.70,5.71
Philippines,5.07,4.59,4.88,4.94,4.99,5.00,4.98,5.31,5.55,5.43,5.59
Poland,5.89,5.77,5.77,5.89,5.65,5.88,5.75,5.75,6.01,6.16,6.20
Portugal,5.72,5.72,5.09,5.09,5.22,4.99,5.16,5.13,5.08,5.45,5.71
Romania,5.39,5.37,5.37,4.91,5.02,5.17,5.08,5.73,5.78,5.97,6.09
Russia,5.22,5.62,5.16,5.38,5.39,5.62,5.54,6.04,6.00,5.85,5.58
Rwanda,4.36,4.36,4.03,4.10,4.10,3.33,3.47,3.60,3.48,3.33,3.11
Saudi Arabia,7.27,6.81,6.15,6.31,6.70,6.40,6.50,6.28,6.35,6.47,6.29
Senegal,4.68,4.68,4.34,4.37,3.83,3.67,3.65,4.39,4.62,4.59,4.68
Serbia,4.75,4.38,4.38,4.46,4.82,5.15,5.10,5.11,5.32,5.75,5.12
Sierra Leone,3.59,3.00,4.13,4.13,4.50,4.51,4.51,4.50,4.91,4.73,4.09
Singapore,6.83,6.64,6.14,6.53,6.56,6.53,6.53,7.06,6.62,6.03,6.38
Slovakia,6.05,6.05,6.05,6.05,5.95,5.91,5.94,6.14,6.16,5.99,6.37
Slovenia,5.83,5.83,5.83,6.08,6.04,6.06,5.97,5.68,5.74,5.94,6.17
South Africa,5.20,5.35,5.22,4.65,4.93,5.13,3.66,4.83,4.89,4.77,4.51
South Korea,5.77,5.39,5.65,6.12,6.95,6.00,5.96,5.80,5.78,5.97,5.87
Spain,6.99,7.29,6.20,6.19,6.52,6.29,6.15,6.46,6.38,6.32,6.23
Sri Lanka,4.41,4.43,4.21,3.98,4.18,4.22,4.36,4.27,4.61,4.33,4.33
Sweden,7.24,7.52,7.27,7.50,7.38,7.56,7.43,7.24,7.29,7.37,7.29
Taiwan,5.55,5.55,6.23,6.23,6.31,6.13,6.34,6.36,6.45,6.51,6.36
Tajikistan,4.43,5.06,4.58,4.38,4.26,4.50,4.97,4.90,5.12,5.10,5.83
Tanzania,4.32,4.38,3.41,3.23,4.07,4.01,3.85,3.48,3.66,2.90,3.35
Thailand,5.78,5.64,5.48,6.22,6.66,6.30,6.23,6.99,6.20,6.07,5.94
Tunisia,5.03,5.03,5.03,5.13,4.88,4.46,5.25,4.76,5.13,4.52,4.12
Turkey,5.62,5.12,5.21,5.49,5.27,5.31,4.89,5.58,5.51,5.33,5.61
Turkmenistan,6.57,6.57,6.57,5.79,5.79,5.46,5.39,5.79,5.79,5.89,5.23
Uganda,4.46,4.57,4.61,4.19,4.83,4.31,3.71,3.77,4.24,4.23,4.00
Ukraine,5.25,5.17,5.17,5.06,5.08,5.03,4.71,4.30,3.96,4.03,4.31
United Arab Emirates,6.87,6.87,6.87,7.10,7.12,7.22,6.62,6.54,6.57,6.83,7.04
United Kingdom,6.80,6.99,6.91,7.03,6.87,6.88,6.92,6.76,6.52,6.82,7.10
United States,7.51,7.28,7.16,7.16,7.12,7.03,7.25,7.15,6.86,6.80,6.99
Uruguay,5.69,5.66,6.30,6.06,6.55,6.45,6.44,6.56,6.63,6.17,6.34
Uzbekistan,5.31,5.31,5.26,5.10,5.74,6.02,5.94,6.05,5.97,5.89,6.42
Venezuela,6.26,6.26,7.19,7.48,6.58,7.07,6.55,6.14,5.57,4.04,5.07
Vietnam,5.42,5.48,5.30,5.30,5.77,5.53,5.02,5.08,5.08,5.06,5.18
Yemen,4.48,4.81,4.81,4.35,3.75,4.06,4.22,3.97,2.98,3.83,3.25
Zambia,4.00,4.73,5.26,5.00,5.00,5.01,5.24,4.35,4.84,4.35,3.93
Zimbabwe,3.28,3.17,4.06,4.68,4.85,4.96,4.69,4.18,3.70,3.74,3.64

Create evaluation matrix for all indicators

In [55]:
#create a list of indicators
indicators = new_df.keys()[2:10]
names = ['Happy_Index_mx','Log_GDP_mx','Soc_support_mx','Life_exp_mx','Freedom_mx','Generosity_mx','Corruption_mx']

print(indicators)
print(names)

Index(['Life Ladder', 'Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption'],
      dtype='object')
['Happy_Index_mx', 'Log_GDP_mx', 'Soc_support_mx', 'Life_exp_mx', 'Freedom_mx', 'Generosity_mx', 'Corruption_mx']

In [56]:
#create a list of indicators
indicators = new_df.keys()[2:10]

#for all indicators create matrixes of country v/s year
for i in range (0,len(indicators)):
    df = filled_matrix_function(new_df,'Country name','year',indicators[i])
    df.to_csv(f"../../Data/Outputs/New_HI{i}_mx.csv", index=False)

# 2017 Basic Data Frame

#### Our group decided to focus the evaluation on the 2017 data. 
To conduct the analysis and create visualization, we need a compilation dataframe of the Happiness Index data and other evaluation factors.

We started with creating basic dataframe of the 128 countries, the Country Name, Code, Happiness Index and its 6 factors, as its columns. We use the shape of this dataframe as the compliance measurement as we build our compilation dataframe.

In [57]:
H1 = HappyCountries.copy()
df_2017 = new_df[new_df["year"]==2017]
df_2017 = pd.merge(H1, df_2017, how='left', on=('Country name')).reset_index(drop=True)
df_2017.rename(columns={"Life Ladder":"Happiness Index","Log GDP per capita":"Log GDP","Healthy life expectancy at birth":"Healthy life exp",
             "Freedom to make life choices":"Freedom","Perceptions of corruption":"Pct corruption"},inplace=True)
df_2017.drop(df_2017.columns[[2]], axis = 1, inplace = True)
print(df_2017.shape) 
df_2017.head(1)

(128, 9)

,Country name,Code,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption
0,Afghanistan,AFG,2.66,7.47,0.49,52.8,0.43,-0.11,0.95

# GHDx Data

In [58]:
#Read main file - IHME-GBD_2017_DATA-ba7d53b0-1 (without age group)
GHDx_file = pd.read_csv("../../Data/Resources/IHME-GBD_2017_DATA-ba7d53b0-1.csv")            
GHDx_file.replace(['Taiwan (Province of China)'], ['Taiwan'],inplace=True)
GHDx_map = pd.read_csv("../../Data/Resources/GHDx_map.csv")

Choose appropriate data and put all together in a data frame

In [59]:
# DEATH BY SUICIDE RATE/100,000 pop MATRIX
# measure_id = 1 Death, sex_id = 3 All, CauseNo = 718 (selfharm/suicide), MetricId = 3 Rate , year = 2017
suicide_df = GHDx_file[(GHDx_file["measure_id"]==1) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 718) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

# DEPRESSION AND ANXIETY (by Incidents) RATE/100,000 pop MATRIX 
# measure_id = 6 Incidence, sex_id = 3 All, CauseNo = 571 Anxiety disorders, year = 2017
anx_df = GHDx_file[(GHDx_file["measure_id"]==6) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 571) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

# measure_id = 6 Incidence, sex_id = 3 All, CauseNo = 567 Depressive disorders, year = 2017
dep_df = GHDx_file[(GHDx_file["measure_id"]==6) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 567) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

# SUBSTANCE ABUSE (by Incidents) RATE/100,000 pop MATRIX 
# measure_id = 6 Incidence, sex_id = 3 All, CauseNo = 973 Substance Abuse, year = 2017
subst_df = GHDx_file[(GHDx_file["measure_id"]==6) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 973) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

GHDx_df = suicide_df.filter(['location_name','val'], axis=1)
GHDx_df['Depression & Anxiety'] = anx_df["val"] + dep_df["val"] 
GHDx_df['Substance Abuse'] = subst_df["val"] 
GHDx_df = GHDx_df.sort_values(by="location_name").rename(columns={"val":"Suicide"}).reset_index(drop=True)

#GHDx_df.to_csv("../Outputs/GHDx_df.csv", index=False)
print(GHDx_df.shape)
GHDx_df.head(1)

(195, 4)

  location_name  Suicide  Depression & Anxiety  Substance Abuse
0   Afghanistan     5.25               3870.85           687.47

In [60]:
mapping1 = dict(GHDx_map[['location_name', 'Code']].values)
GHDx_df.insert(1, 'Code', GHDx_map['location_name'].map(mapping1))

#### Columns are added to the df_2017 dataframe with "left-merge" 
This method is choosen to retain the basic dataframe shape and to allow the not existence values be entered as "NaN".

Here we add the GHDx data into the main df_2017 data frame. Afterwards we double check on the countries that has the NaN value if they are not being included just because of spelling differences.

In [61]:
df_2017 = pd.merge(df_2017 , GHDx_df, how='left', on='Code')
df_2017.drop(df_2017.columns[9], axis=1, inplace=True)
print(df_2017.shape)
df_2017.head()

(128, 12)

,Country name,Code,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,Suicide,Depression & Anxiety,Substance Abuse
0,Afghanistan,AFG,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,5.25,3870.85,687.47
1,Albania,ALB,4.64,9.38,0.64,68.4,0.75,-0.03,0.88,5.86,3179.85,642.91
2,Argentina,ARG,6.04,9.85,0.91,68.6,0.83,-0.18,0.84,11.35,3666.08,1089.71
3,Armenia,ARM,4.29,9.08,0.70,66.6,0.61,-0.13,0.86,9.97,4525.35,736.38
4,Australia,AUS,7.26,10.71,0.95,73.3,0.91,0.31,0.41,12.76,3291.17,455.44

In [62]:
#check list of rows to be deleted
outcast_df1 = GHDx_df[~GHDx_df['Code'].isin(df_2017['Code'])].reset_index(drop=True)
outcast_df1.head(1)

  location_name Code  Suicide  Depression & Anxiety  Substance Abuse
0       Algeria  DZA      4.2               4155.35            560.9

# TheGlobalEconomy Data

Most of our variable came from TheGlobalEconomy Data, which were downloaded and came as two separated csv files.
The lengthy named columns are renamed, then we picked the year and combined them into one data frame, which later be merged with the df_2017 main dataframe.
This data has the same country code, which make the data picking fairly easy.

In [63]:
Global1_file = pd.read_csv("../../Data/Resources/TheGlobalEconomy1.csv")  
Global2_file = pd.read_csv("../../Data/Resources/TheGlobalEconomy2.csv")

In [64]:
Global1_file.rename(columns={"Gini income inequality index":"Gini index","Poverty percent of population":"Pct Poverty",
                            "Public spending on education percent of public spending":"Pct spent ed",
                             "International tourism revenue":"Rev tourism"},inplace=True)
Global2_file.rename(columns={"Fragile state index 0 (low) - 120 (high)":"Fragile index",
                             "Security threats index 0 (low) - 10 (high)":"Security index",
                             "Human flight and brain drain index 0 (low) - 10 (high)":"brain drain"},inplace=True)

In [65]:
Global1_df = Global1_file[Global1_file["Year"]==2017]
Global1_df = Global1_df.filter(['Code','Gini index','Pct Poverty','Pct spent ed','Literacy rate','Tourist arrivals','Rev tourism'], axis=1).reset_index(drop=True)  
Global_df = pd.merge(HappyCountries, Global1_df, how='left', on=('Code')).reset_index(drop=True)

Global2_df = Global2_file[Global2_file["Year"]==2017]
Global2_df = Global2_df.filter(['Code','Fragile State index','Security index','Brain drain','Unemployment rate'], axis=1).reset_index(drop=True)  
Global_df = pd.merge(Global_df, Global2_df, how='left', on=('Code')).reset_index(drop=True)

print(Global_df.shape)
Global_df.head(1)

(128, 10)

,Country name,Code,Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate
0,Afghanistan,AFG,NaN,NaN,15.66,NaN,NaN,16.0,10.0,11.18

In [66]:
df_2017 = pd.merge(df_2017, Global_df, how='left', on=('Country name','Code')).reset_index(drop=True)
print(df_2017.shape)
df_2017.head(1)

(128, 20)

,Country name,Code,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,Suicide,Depression & Anxiety,Substance Abuse,Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate
0,Afghanistan,AFG,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,5.25,3870.85,687.47,NaN,NaN,15.66,NaN,NaN,16.0,10.0,11.18

# Other Files

We added other datas that is being evaluated such as GDP, number of Physician perpop, Average Age, and sleep per (min)

In [67]:
# GDP PPP PerPopulation
gdp_df = pd.read_csv("../../Data/Resources/gdp_ppp_pop.csv", encoding='cp1252')
gdp_df = gdp_df.filter(["Country Name","Country Code","2017"], axis=1).round(2)

gdp_df = pd.merge(HappyCountries, gdp_df, how='left', left_on='Code', right_on='Country Code',
         left_index=False, right_index=False, sort=True)

df_2017.insert(2,('GDP'),gdp_df['2017'])

print(df_2017.shape)
df_2017.head(1)

(128, 21)

,Country name,Code,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,...,Depression & Anxiety,Substance Abuse,Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate
0,Afghanistan,AFG,2202.57,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,...,3870.85,687.47,NaN,NaN,15.66,NaN,NaN,16.0,10.0,11.18

In [68]:
# Physician perpop
#url'https://data.worldbank.org/indicator/SH.MED.PHYS.ZS'
df_hcd=pd.read_csv('../../Data/Resources/doctors_population_WB1-2019.csv')
df_hcd = df_hcd.filter(["Country Name","Country Code","2017"], axis=1).round(2)
df_hcd = pd.merge(HappyCountries, df_hcd, how='left', left_on='Code', right_on='Country Code')

df_2017.insert(13,('Physician perpop'),df_hcd['2017'])

print(df_2017.shape)
df_2017.head(1)

(128, 22)

,Country name,Code,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,...,Substance Abuse,Physician perpop,Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate
0,Afghanistan,AFG,2202.57,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,...,687.47,NaN,NaN,NaN,15.66,NaN,NaN,16.0,10.0,11.18

In [69]:
# Average Age
Age_file = pd.read_csv("../../Data/Resources/Avg.age2017-final.csv") 

del Age_file['Column1']
Age_file.rename(columns={ Age_file.columns[0]: "Country Name", Age_file.columns[1]:"Average age" }, inplace = True)
Age_file['Country Name'] = Age_file['Country Name'].str.strip()

Age_df = pd.merge(HappyCountries, Age_file, how='left', left_on='Country name',  #fit data to standard dataframe
         right_on='Country Name',left_index=False, right_index=False, sort=True)

df_2017.insert(14,('Average Age'),Age_df['Average age'])                        #add to df_2017 dataframe
print(df_2017.shape)
df_2017.head(1)

(128, 23)

,Country name,Code,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,...,Physician perpop,Average Age,Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate
0,Afghanistan,AFG,2202.57,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,...,NaN,18.8,NaN,NaN,15.66,NaN,NaN,16.0,10.0,11.18

In [70]:
# Sleep
Sleep_file = pd.read_csv("../../Data/Resources/Avg_sleep_minutes.csv") 

sleep_df = pd.merge(HappyCountries, Sleep_file, how='left', left_on='Country name',  #fit data to standard dataframe
         right_on='Country',left_index=False, right_index=False, sort=True)

df_2017.insert(15,('Sleep (min)'),sleep_df['Minutes'])                        #add to df_2017 dataframe
print(df_2017.shape)
df_2017.head(1)

(128, 24)

,Country name,Code,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,...,Average Age,Sleep (min),Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate
0,Afghanistan,AFG,2202.57,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,...,18.8,NaN,NaN,NaN,15.66,NaN,NaN,16.0,10.0,11.18

In [71]:
# Create output file of df_2017
df_2017.to_csv("../../Data/Outputs/df_2017.csv", index=True)

# Normalization

Because the factors that are use to evaluate have different values on totally different scale, to be able to compare them, we have to normalize the values into comparable values. 

We determine the max and minimum of each variable, calculate their ranges, then project all values into a the scale between 0 to 1.

In [72]:
min_value = df_2017.min()
max_value = df_2017.max()

norml_df = pd.DataFrame({'Min Value':min_value,'Max Value':max_value})
norml_df.drop(norml_df.index[:3], inplace=True)
norml_df['range'] = norml_df['Max Value'] - norml_df['Min Value']

norml_df.to_csv("../../Data/Outputs/Normalization value 2017.csv", index=True)
norml_df

                     Min Value Max Value    range
Happiness Index           2.66      7.79     5.13
Log GDP                   6.83     11.44     4.61
Social support            0.44      0.96     0.52
Healthy life exp          47.7      76.5     28.8
Freedom                   0.43      0.99     0.56
Generosity               -0.29      0.48     0.77
Pct corruption            0.16      0.95     0.79
Suicide                   2.86     36.27    33.41
Depression & Anxiety   1843.64   7022.08  5178.44
Substance Abuse         296.64   2282.46  1985.82
Physician perpop          0.04      6.13     6.09
Average Age               15.4      47.3     31.9
Sleep (min)                377       458       81
Gini index                25.4      53.3     27.9
Pct Poverty                2.4        70     67.6
Pct spent ed              6.95      24.4    17.45
Literacy rate             48.3     99.79    51.49
Tourist arrivals            11     86758    86747
Rev tourism                 16    251544   251528
Security index               1        10        9
Unemployment rate         0.49     27.07    26.58

In [73]:
col_2017 = df_2017.keys()
print(col_2017)

Index(['Country name', 'Code', 'GDP', 'Happiness Index', 'Log GDP',
       'Social support', 'Healthy life exp', 'Freedom', 'Generosity',
       'Pct corruption', 'Suicide', 'Depression & Anxiety', 'Substance Abuse',
       'Physician perpop', 'Average Age', 'Sleep (min)', 'Gini index',
       'Pct Poverty', 'Pct spent ed', 'Literacy rate', 'Tourist arrivals',
       'Rev tourism', 'Security index', 'Unemployment rate'],
      dtype='object')

In [74]:
#NORMALIZATION TABLE 2017
norm_2017_df = country_code.copy()   
for i in range(3,len(col_2017)):
    norm_2017_df[col_2017 [i]]= (df_2017[col_2017 [i]] - norml_df.loc[col_2017 [i],'Min Value']) / norml_df.loc[col_2017 [i],'range']

norm_2017_df['Blue Index'] = norm_2017_df[['Suicide','Depression & Anxiety','Substance Abuse']].mean(axis=1)
norm_2017_df.to_csv("../../Data/Outputs/Normalized Table 2017_df.csv", index=False)
norm_2017_df.round(2)

,Country name,Code,Continent,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,...,Sleep (min),Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate,Blue Index
0,Afghanistan,AFG,Asia,0.00,0.14,0.10,0.18,0.00,0.23,1.00,...,NaN,NaN,NaN,0.50,NaN,NaN,0.00,1.00,0.40,0.22
1,Albania,ALB,Europe,0.39,0.55,0.38,0.72,0.57,0.34,0.91,...,NaN,NaN,NaN,0.31,NaN,0.05,0.01,0.41,0.50,0.17
2,Argentina,ARG,Americas,0.66,0.66,0.90,0.73,0.71,0.14,0.86,...,0.51,0.54,0.34,0.36,NaN,0.08,0.02,0.37,0.30,0.34
3,Armenia,ARM,Asia,0.32,0.49,0.50,0.66,0.32,0.21,0.89,...,NaN,0.29,0.34,0.20,1.00,0.02,0.00,0.50,0.65,0.32
4,Australia,AUS,Oceania,0.90,0.84,0.98,0.89,0.86,0.78,0.32,...,0.94,NaN,NaN,NaN,NaN,0.10,0.17,0.12,0.19,0.22
5,Austria,AUT,Europe,0.90,0.85,0.90,0.87,0.82,0.56,0.46,...,0.79,NaN,NaN,NaN,NaN,0.34,0.09,0.00,0.19,0.59
6,Azerbaijan,AZE,Asia,0.49,0.62,0.67,0.61,0.54,0.06,0.62,...,NaN,NaN,NaN,0.00,1.00,0.03,0.01,0.58,0.17,0.25
7,Bahrain,BHR,Asia,0.70,0.84,0.85,0.72,0.86,0.55,NaN,...,NaN,NaN,NaN,0.01,0.95,0.13,0.02,0.66,0.01,0.34
8,Bangladesh,BGD,Asia,0.32,0.30,0.52,0.56,0.84,0.40,0.61,...,NaN,NaN,NaN,0.66,0.48,0.01,0.00,0.73,0.15,0.12
9,Belarus,BLR,Europe,0.56,0.63,0.88,0.63,0.34,0.21,0.62,...,NaN,0.00,0.05,0.31,NaN,0.13,0.00,0.57,0.19,0.35
10,Belgium,BEL,Europe,0.83,0.83,0.92,0.84,0.77,0.45,0.48,...,0.90,NaN,NaN,NaN,NaN,0.10,0.04,0.16,0.25,0.42
11,Benin,BEN,Africa,0.43,0.17,0.00,0.22,0.54,0.32,0.77,...,NaN,NaN,NaN,0.74,NaN,0.00,0.00,0.58,0.07,0.28
12,Bolivia,BOL,Americas,0.58,0.43,0.65,0.54,0.80,0.23,0.84,...,NaN,0.67,0.50,NaN,NaN,0.01,0.00,0.61,0.12,0.25
13,Bosnia and Herzegovina,BIH,Europe,0.47,0.56,0.65,0.69,0.23,0.49,0.96,...,NaN,NaN,NaN,NaN,NaN,0.01,0.00,0.52,0.75,0.26
14,Botswana,BWA,Africa,0.16,0.62,0.63,0.36,0.70,0.05,0.72,...,NaN,NaN,NaN,NaN,NaN,0.02,0.00,0.34,0.64,0.39
15,Brazil,BRA,Americas,0.72,0.59,0.88,0.64,0.59,0.14,0.80,...,0.48,1.00,NaN,NaN,0.87,0.08,0.02,0.63,0.46,0.17
16,Bulgaria,BGR,Europe,0.48,0.65,0.96,0.66,0.46,0.18,0.95,...,0.70,NaN,0.29,NaN,NaN,0.10,0.02,0.37,0.21,0.49
17,Burkina Faso,BFA,Africa,0.39,0.13,0.65,0.20,0.32,0.31,0.72,...,NaN,NaN,NaN,0.83,NaN,0.00,0.00,0.82,0.22,0.48
18,Cambodia,KHM,Asia,0.38,0.30,0.63,0.47,0.95,0.49,0.84,...,NaN,NaN,NaN,NaN,NaN,0.06,0.02,0.63,0.01,0.32
19,Cameroon,CMR,Africa,0.47,0.28,0.48,0.15,0.61,0.34,0.86,...,NaN,NaN,NaN,0.51,NaN,0.01,0.00,0.77,0.11,0.20
20,Canada,CAN,Americas,0.93,0.84,0.94,0.89,0.93,0.58,0.25,...,0.81,NaN,NaN,NaN,NaN,0.24,0.08,0.13,0.22,0.38
21,Chad,TCD,Africa,0.37,0.14,0.42,0.00,0.32,0.38,0.80,...,NaN,NaN,NaN,0.54,NaN,0.00,NaN,0.93,0.05,0.26
22,Chile,CHL,Americas,0.71,0.69,0.85,0.77,0.64,0.35,0.86,...,0.49,0.76,0.09,0.82,0.93,0.07,0.02,0.24,0.24,0.20
23,China,CHN,Asia,0.48,0.61,0.63,0.74,0.80,0.13,NaN,...,0.58,NaN,0.01,NaN,NaN,0.70,0.15,0.54,0.15,0.19
24,Colombia,COL,Americas,0.68,0.58,0.90,0.68,0.73,0.17,0.91,...,0.38,0.87,0.36,0.53,NaN,0.04,0.02,0.66,0.32,0.24
25,Congo (Brazzaville),COG,Africa,0.43,0.37,0.42,0.33,0.62,0.16,0.76,...,NaN,NaN,NaN,0.50,NaN,0.00,NaN,0.69,0.35,NaN
26,Costa Rica,CRI,Americas,0.89,0.61,0.92,0.81,0.91,0.29,0.73,...,0.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Croatia,HRV,Europe,0.52,0.70,0.63,0.76,0.52,0.25,0.92,...,0.74,NaN,0.25,NaN,NaN,0.18,0.04,0.28,0.40,0.22
28,Cyprus,CYP,Asia,0.66,0.78,0.73,0.90,0.68,0.43,0.87,...,NaN,NaN,NaN,NaN,NaN,0.04,0.01,0.38,0.40,0.32
29,Czech Republic,CZE,Europe,0.81,0.77,0.88,0.77,0.71,0.16,0.90,...,NaN,NaN,NaN,NaN,NaN,0.12,0.03,0.18,0.09,0.31
30,Denmark,DNK,Europe,0.96,0.85,0.98,0.85,0.95,0.58,0.03,...,NaN,NaN,NaN,NaN,NaN,0.14,0.03,0.08,0.20,0.23
31,Dominican Republic,DOM,Americas,0.58,0.60,0.87,0.62,0.77,0.22,0.76,...,NaN,NaN,0.34,NaN,NaN,0.07,0.03,0.53,0.20,0.20
32,Ecuador,ECU,Americas,0.62,0.52,0.79,0.71,0.80,0.16,0.72,...,NaN,0.69,0.28,NaN,0.86,0.02,0.01,0.64,0.13,0.34
33,Egypt,EGY,Africa,0.25,0.53,0.38,0.48,0.29,0.17,NaN,...,0.27,NaN,0.45,NaN,0.44,0.09,0.03,0.79,0.42,0.24
34,El Salvador,SLV,Americas,0.72,0.45,0.75,0.63,0.59,0.16,0.78,...,NaN,0.45,0.40,0.50,0.78,0.02,0.00,0.70,0.15,0.23
35,Estonia,EST,Europe,0.64,0.75,0.96,0.72,0.77,0.25,0.65,...,0.85,NaN,NaN,NaN,NaN,0.04,0.01,0.26,0.20,0.30
36,Finland,FIN,Europe,1.00,0.82,1.00,0.84,0.95,0.38,0.04,...,0.98,NaN,NaN,NaN,NaN,0.04,0.02,0.08,0.31,0.33
37,France,FRA,Europe,0.78,0.81,0.94,0.90,0.71,0.22,0.56,...,0.88,NaN,NaN,NaN,NaN,1.00,0.27,0.26,0.34,0.25
38,Gabon,GAB,Africa,0.41,0.62,0.71,0.40,0.39,0.06,0.90,...,NaN,0.45,0.46,NaN,NaN,NaN,NaN,0.47,0.73,0.14
39,Georgia,GEO,Asia,0.35,0.51,0.29,0.59,0.70,0.08,0.54,...,NaN,0.45,0.29,0.34,0.99,0.05,0.01,0.64,0.51,0.37
40,Germany,DEU,Europe,0.86,0.84,0.87,0.84,0.73,0.57,0.32,...,0.75,NaN,NaN,NaN,NaN,0.43,0.22,0.12,0.12,0.25
41,Ghana,GHA,Africa,0.55,0.32,0.44,0.32,0.62,0.49,0.86,...,NaN,NaN,NaN,0.75,NaN,NaN,0.00,0.31,0.14,0.27
42,Greece,GRC,Europe,0.49,0.71,0.60,0.85,0.02,0.00,0.90,...,0.73,NaN,NaN,NaN,NaN,0.31,0.08,0.39,0.79,0.33
43,Guatemala,GTM,Americas,0.72,0.45,0.75,0.58,0.86,0.30,0.81,...,NaN,NaN,NaN,0.92,NaN,0.02,0.01,0.73,0.07,0.20
44,Guinea,GIN,Africa,0.43,0.19,0.37,0.19,0.55,0.43,0.75,...,NaN,NaN,NaN,0.37,NaN,0.00,0.00,0.87,0.14,0.25
45,Haiti,HTI,Americas,0.23,0.13,0.40,0.27,0.09,0.87,0.62,...,NaN,NaN,NaN,0.48,NaN,0.01,0.00,0.74,0.50,0.20
46,Honduras,HND,Americas,0.65,0.34,0.77,0.67,0.84,0.48,0.78,...,NaN,0.90,0.70,NaN,NaN,0.01,0.00,0.70,0.19,0.23
47,Hong Kong S.A.R. of China,HKG,Asia,0.53,0.89,0.75,NaN,0.71,0.55,0.33,...,NaN,NaN,NaN,0.62,NaN,0.32,0.15,NaN,0.10,NaN
48,Hungary,HUN,Europe,0.66,0.73,0.85,0.68,0.41,0.19,0.92,...,NaN,NaN,NaN,NaN,NaN,0.18,0.03,0.19,0.14,0.48
49,India,IND,Asia,0.27,0.42,0.33,0.42,0.82,0.31,0.78,...,0.35,NaN,NaN,NaN,NaN,0.18,0.11,0.71,0.19,0.34
50,Indonesia,IDN,Asia,0.48,0.54,0.69,0.49,0.79,1.00,0.94,...,0.41,0.46,0.12,NaN,NaN,0.16,0.06,0.58,0.14,0.22
51,Iran,IRN,Asia,0.40,0.66,0.52,0.63,0.54,0.62,0.70,...,NaN,NaN,NaN,0.75,NaN,0.06,0.02,0.72,0.44,0.13
52,Iraq,IRQ,Asia,0.35,0.62,0.50,0.41,0.36,0.34,0.76,...,NaN,NaN,NaN,NaN,0.72,NaN,0.01,1.00,0.47,0.34
53,Ireland,IRL,Europe,0.86,0.93,0.96,0.85,0.86,0.66,0.23,...,NaN,NaN,NaN,NaN,NaN,0.12,0.06,0.12,0.23,0.42
54,Israel,ISR,Asia,0.91,0.78,0.92,0.88,0.61,0.57,0.80,...,0.44,NaN,NaN,NaN,NaN,0.04,0.03,0.66,0.14,0.31
55,Italy,ITA,Europe,0.69,0.79,0.92,0.89,0.36,0.34,0.90,...,0.64,NaN,NaN,NaN,NaN,0.67,0.19,0.39,0.40,0.19
56,Japan,JPN,Asia,0.63,0.81,0.85,0.94,0.75,0.10,0.63,...,0.00,NaN,NaN,NaN,NaN,0.33,0.15,0.07,0.09,0.40
57,Jordan,JOR,Asia,0.42,0.48,0.71,0.66,0.61,0.18,NaN,...,NaN,NaN,NaN,0.29,NaN,0.04,0.02,0.52,0.55,0.23
58,Kazakhstan,KAZ,Asia,0.63,0.71,0.90,0.57,0.57,0.32,0.76,...,NaN,0.08,0.00,0.26,NaN,0.09,0.01,0.47,0.17,0.34
59,Kenya,KEN,Europe,0.35,0.25,0.52,0.41,0.75,0.70,0.87,...,NaN,NaN,NaN,0.62,NaN,0.02,0.01,0.81,0.08,0.33
60,Kosovo,KXK,Africa,0.68,0.51,0.67,NaN,0.77,0.53,0.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Kuwait,KWT,Asia,0.67,0.93,0.79,0.65,0.80,0.34,NaN,...,NaN,NaN,NaN,NaN,0.93,0.09,0.00,0.36,0.05,0.25
62,Kyrgyzstan,KGZ,Asia,0.58,0.28,0.85,0.56,0.77,0.60,0.90,...,NaN,0.07,0.34,0.50,NaN,0.00,0.00,0.61,0.24,0.33
63,Latvia,LVA,Europe,0.65,0.72,0.88,0.65,0.48,0.18,0.81,...,NaN,NaN,NaN,NaN,NaN,0.02,0.00,0.22,0.31,0.51
64,Lebanon,LBN,Asia,0.49,0.55,0.65,0.66,0.30,0.30,0.95,...,NaN,NaN,NaN,NaN,NaN,0.02,0.03,0.86,0.22,0.12
65,Liberia,LBR,Africa,0.34,0.05,0.46,0.26,0.54,0.38,0.90,...,NaN,NaN,NaN,0.08,0.00,NaN,NaN,0.60,0.09,0.20
66,Lithuania,LTU,Europe,0.70,0.75,0.94,0.66,0.57,0.16,0.80,...,0.77,NaN,NaN,NaN,NaN,0.03,0.01,0.23,0.25,0.61
67,Luxembourg,LUX,Europe,0.86,1.00,0.90,0.86,0.84,0.44,0.22,...,0.79,NaN,NaN,NaN,NaN,0.01,0.02,0.08,0.19,0.22
68,Macedonia,MKD,Europe,0.50,0.57,0.69,0.68,0.57,0.31,0.89,...,NaN,NaN,0.29,NaN,NaN,0.01,0.00,0.51,0.82,0.30
69,Madagascar,MDG,Africa,0.28,0.09,0.37,0.38,0.25,0.34,0.87,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.68,0.05,0.18
70,Malawi,MWI,Africa,0.15,0.05,0.23,0.32,0.75,0.39,0.72,...,NaN,NaN,NaN,0.42,NaN,0.01,0.00,0.42,0.20,0.22
71,Malaysia,MYS,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.26,NaN,NaN,0.84,0.91,0.30,0.08,0.59,0.11,0.19
72,Mali,MLI,Africa,0.41,0.17,0.58,0.12,0.57,0.29,0.89,...,NaN,NaN,NaN,0.55,NaN,0.00,0.00,0.89,0.26,0.15
73,Malta,MLT,Europe,0.78,0.80,0.96,0.85,0.88,0.70,0.67,...,NaN,NaN,NaN,NaN,NaN,0.03,0.01,0.29,0.13,0.19
74,Mauritania,MRT,Africa,0.39,0.30,0.65,0.31,0.18,0.19,0.78,...,NaN,NaN,NaN,NaN,0.10,NaN,0.00,0.66,0.34,0.27
75,Mexico,MEX,Americas,0.73,0.64,0.69,0.70,0.77,0.12,0.81,...,0.44,NaN,NaN,NaN,0.91,0.45,0.09,0.82,0.11,0.28
76,Moldova,MDA,Europe,0.52,0.41,0.75,0.58,0.21,0.35,0.97,...,NaN,0.02,NaN,0.65,NaN,0.00,0.00,0.57,0.14,0.41
77,Mongolia,MNG,Asia,0.52,0.55,0.92,0.50,0.43,0.52,0.89,...,NaN,NaN,NaN,0.33,NaN,0.01,0.00,0.29,0.22,0.38
78,Montenegro,MNE,Europe,0.58,0.62,0.85,0.72,0.36,0.27,0.76,...,NaN,NaN,NaN,NaN,NaN,0.02,0.00,0.33,0.59,0.40
79,Morocco,MAR,Africa,0.52,0.45,0.38,0.62,0.68,0.09,0.86,...,0.72,NaN,NaN,NaN,NaN,0.13,0.04,0.53,0.33,0.26
80,Nepal,NPL,Asia,0.41,0.23,0.73,0.51,0.75,0.56,0.77,...,NaN,NaN,NaN,0.58,NaN,0.01,0.00,0.61,0.03,0.35
81,Netherlands,NLD,Europe,0.94,0.86,0.96,0.85,0.88,0.70,0.25,...,0.99,NaN,NaN,NaN,NaN,0.21,0.09,0.06,0.16,0.37
82,New Zealand,NZL,Oceania,0.91,0.79,0.98,0.88,0.91,0.77,0.08,...,1.00,NaN,NaN,NaN,NaN,0.04,0.04,0.02,0.16,0.29
83,Nicaragua,NIC,Americas,0.74,0.37,0.77,0.68,0.88,0.39,0.65,...,NaN,NaN,NaN,NaN,NaN,0.02,0.00,0.51,0.11,0.19
84,Niger,NER,Africa,0.38,0.00,0.27,0.18,0.45,0.35,0.78,...,NaN,NaN,NaN,0.36,NaN,0.00,0.00,0.86,0.00,0.29
85,Nigeria,NGA,Africa,0.52,0.38,0.56,0.06,0.71,0.53,0.85,...,NaN,NaN,NaN,NaN,NaN,NaN,0.01,0.91,0.30,0.24
86,Pakistan,PAK,Asia,0.62,0.36,0.48,0.36,0.50,0.43,0.70,...,NaN,NaN,NaN,0.43,0.21,NaN,0.00,0.90,0.13,0.28
87,Palestinian Territories,PS,Asia,0.38,0.34,0.73,NaN,0.36,0.17,0.85,...,NaN,NaN,NaN,NaN,NaN,0.01,0.00,NaN,0.95,0.13
88,Panama,PAN,Americas,0.76,0.69,0.90,0.76,0.84,0.17,0.86,...,NaN,0.88,NaN,NaN,NaN,0.02,0.03,0.49,0.13,0.29
89,Paraguay,PRY,Americas,0.59,0.55,0.88,0.62,0.82,0.38,0.82,...,NaN,0.84,0.36,NaN,NaN,0.02,0.00,0.62,0.16,0.15
90,Peru,PER,Americas,0.59,0.56,0.75,0.70,0.71,0.17,0.94,...,0.32,0.64,0.29,0.65,0.89,0.05,0.02,0.68,0.11,0.14
91,Philippines,PHL,Asia,0.57,0.46,0.79,0.49,0.89,0.19,0.70,...,0.23,NaN,NaN,NaN,NaN,0.08,0.03,0.97,0.08,0.17
92,Poland,POL,Europe,0.69,0.74,0.85,0.74,0.71,0.22,0.61,...,0.58,NaN,0.18,NaN,NaN,0.21,0.06,0.09,0.17,0.38
93,Portugal,PRT,Europe,0.59,0.74,0.88,0.85,0.86,0.16,0.91,...,NaN,NaN,NaN,NaN,NaN,0.18,0.09,0.03,0.32,0.26
94,Romania,ROU,Europe,0.67,0.70,0.71,0.67,0.73,0.17,0.97,...,0.65,NaN,0.31,NaN,NaN,0.13,0.01,0.22,0.17,0.29
95,Russia,RUS,Asia,0.57,0.71,0.88,0.56,0.54,0.18,0.89,...,0.60,NaN,0.16,NaN,NaN,0.28,0.06,0.88,0.18,0.44
96,Rwanda,RWA,Africa,0.09,0.16,0.15,0.44,0.86,0.44,0.06,...,NaN,NaN,NaN,0.24,NaN,NaN,0.00,0.58,0.02,0.34
97,Saudi Arabia,SAU,Asia,0.71,0.86,0.77,0.64,0.68,0.19,NaN,...,0.11,NaN,NaN,NaN,0.91,0.19,0.06,0.59,0.20,0.13
98,Senegal,SEN,Africa,0.39,0.27,0.58,0.40,0.46,0.31,0.85,...,NaN,NaN,NaN,0.81,0.07,0.02,0.00,0.58,0.23,0.18
99,Serbia,SRB,Europe,0.48,0.61,0.85,0.70,0.45,0.27,0.87,...,NaN,NaN,0.32,0.13,NaN,0.02,0.01,0.50,0.49,0.36
100,Sierra Leone,SLE,Africa,0.28,0.09,0.40,0.05,0.50,0.49,0.87,...,NaN,NaN,NaN,0.74,NaN,0.00,0.00,0.37,0.15,0.27
101,Singapore,SGP,Asia,0.73,0.99,0.88,1.00,0.89,0.55,0.00,...,0.40,NaN,NaN,NaN,0.95,0.16,0.08,0.07,0.14,0.23
102,Slovakia,SVK,Europe,0.72,0.75,0.90,0.73,0.50,0.30,0.96,...,0.60,NaN,NaN,NaN,NaN,0.02,0.01,0.09,0.29,0.38
103,Slovenia,SVN,Europe,0.68,0.76,0.94,0.80,0.88,0.35,0.85,...,NaN,NaN,NaN,NaN,NaN,0.05,0.01,0.07,0.23,0.43
104,South Africa,ZAF,Africa,0.36,0.56,0.83,0.29,0.64,0.21,0.89,...,0.74,NaN,NaN,0.67,0.75,0.12,0.04,0.57,1.00,0.30
105,South Korea,KOR,Asia,0.63,0.79,0.71,0.89,0.20,0.39,0.87,...,0.09,NaN,NaN,NaN,NaN,0.15,0.07,0.12,0.12,0.42
106,Spain,ESP,Europe,0.70,0.78,0.88,0.92,0.59,0.34,0.80,...,0.69,NaN,NaN,NaN,NaN,0.94,0.30,0.20,0.63,0.24
107,Sri Lanka,LKA,Asia,0.33,0.55,0.73,0.67,0.71,0.49,0.86,...,NaN,NaN,NaN,0.43,0.85,0.02,0.02,0.71,0.14,0.34
108,Sweden,SWE,Europe,0.90,0.85,0.90,0.86,0.89,0.60,0.10,...,0.86,NaN,NaN,NaN,NaN,0.08,0.06,0.12,0.23,0.29
109,Taiwan,TWN,Asia,0.72,0.86,0.87,NaN,0.59,0.29,0.73,...,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.44
110,Tajikistan,TJK,Asia,0.62,0.25,0.42,0.56,0.71,0.53,0.71,...,NaN,NaN,0.40,NaN,NaN,0.00,0.00,0.63,0.41,0.23
111,Tanzania,TZA,Africa,0.13,0.24,0.52,0.32,0.66,0.51,0.62,...,NaN,NaN,NaN,1.00,NaN,0.01,0.01,0.50,0.06,0.21
112,Thailand,THA,Asia,0.64,0.62,0.85,0.67,0.88,0.65,0.91,...,0.49,0.40,0.08,NaN,NaN,0.41,0.23,0.89,0.01,0.27
113,Tunisia,TUN,Africa,0.28,0.54,0.54,0.66,0.09,0.08,0.90,...,NaN,NaN,NaN,NaN,NaN,0.08,0.01,0.81,0.56,0.06
114,Turkey,TUR,Europe,0.58,0.72,0.85,0.65,0.38,0.06,0.65,...,0.38,NaN,0.17,NaN,0.93,0.43,0.13,0.81,0.39,0.23
115,Turkmenistan,TKM,Asia,0.50,0.62,0.90,0.49,0.52,0.44,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,0.13,0.20
116,Uganda,UGA,Africa,0.26,0.14,0.58,0.26,0.61,0.47,0.84,...,NaN,NaN,NaN,0.32,NaN,0.02,0.00,0.68,0.05,0.17
117,Ukraine,UKR,Europe,0.32,0.47,0.81,0.58,0.30,0.40,0.99,...,0.67,NaN,0.00,0.35,NaN,NaN,NaN,0.73,0.34,0.45
118,United Arab Emirates,ARE,Asia,0.85,0.93,0.77,0.67,0.95,0.65,NaN,...,NaN,NaN,NaN,NaN,NaN,0.23,0.08,0.23,0.07,0.25
119,United Kingdom,GBR,Europe,0.87,0.82,0.96,0.85,0.68,0.75,0.33,...,NaN,NaN,NaN,NaN,NaN,0.43,0.19,0.19,0.14,0.32
120,United States,USA,Americas,0.84,0.89,0.92,0.72,0.79,0.62,0.66,...,0.75,NaN,NaN,NaN,NaN,0.89,1.00,0.24,0.15,0.37
121,Uruguay,URY,Americas,0.72,0.67,0.90,0.74,0.84,0.25,0.59,...,NaN,0.51,0.08,0.46,0.98,0.04,0.01,0.31,0.28,0.35
122,Uzbekistan,UZB,Asia,0.73,0.41,0.96,0.59,1.00,0.53,0.38,...,NaN,NaN,NaN,0.92,NaN,0.03,0.00,0.68,0.20,0.20
123,Venezuela,VEN,Americas,0.47,0.47,0.88,0.65,0.38,0.16,0.86,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.70,0.26,0.28
124,Vietnam,VNM,Asia,0.49,0.41,NaN,0.69,NaN,NaN,NaN,...,0.40,NaN,NaN,NaN,NaN,0.15,0.04,0.40,0.06,0.47
125,Yemen,YEM,Africa,0.12,0.21,0.67,0.28,0.30,0.16,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.98,0.48,0.18
126,Zambia,ZMB,Africa,0.25,0.30,0.58,0.25,0.70,0.55,0.73,...,NaN,NaN,NaN,0.45,NaN,0.01,0.00,0.40,0.42,0.25
127,Zimbabwe,ZWE,Africa,0.19,0.22,0.60,0.25,0.57,0.26,0.75,...,NaN,NaN,1.00,0.79,NaN,0.03,0.00,0.79,0.18,0.24

# Adding continents

For visualization purposes we added continents to our normalized dataframe

In [75]:
norm_2017_v2_df = norm_2017_df.copy()
mapping1 = dict(country_code[['Code','Continent']].values)
norm_2017_v2_df['Continent'] = country_code['Code'].map(mapping1)

norm_2017_v2_df.to_csv("../../Data/Outputs/Normalized Table 2017_df-v2.csv", index=False)

print(norm_2017_v2_df.shape)
norm_2017_v2_df.head(1)

(128, 25)

,Country name,Code,Continent,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,...,Sleep (min),Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Security index,Unemployment rate,Blue Index
0,Afghanistan,AFG,Asia,0.0,0.138829,0.096154,0.177083,0.0,0.233766,1.0,...,NaN,NaN,NaN,0.49914,NaN,NaN,0.0,1.0,0.402182,0.219939